* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    position: fixed;
    -webkit-text-size-adjust: 100%;
}

body {
    width: 100vw;
    height: 100vh;
    user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

.label {
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
    margin: 0.25rem 0.25rem 0.5rem 0.5rem;
}

#app {
    display: grid;
    grid-template-columns: 1fr 10rem;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "touch-area image-select-area"
        "scale-area image-select-area";
    width: 100%;
    height: 100%;
}

#touch-area {
    grid-column: touch-area;
    grid-row: touch-area;
    border: 5px solid red;
    display: flex;
}

#scale-area {
    grid-column: scale-area;
    grid-row: scale-area;
}

#image-select-area {
    grid-column: image-select-area;
    grid-row: image-select-area;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#image-list {
    flex-grow: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.image {
    padding: 0.5rem;
    max-width: 100%;
    max-height: 100%;
}

.selected {
    border: 2px solid red;
}

.instructions {
    font-family: sans-serif;
    font-size: 1rem;
    margin: 2rem;
    text-align: center;
    pointer-events: none;
}

#scale-slider {
    height: 2rem;
    margin-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
}

input[type="range"] {
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 3rem;
    margin-top: -1.5rem;
    background: red;
}

input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 3rem;
    margin-top: -1.5rem;
    background: red;
}

input[type="range"]:focus {
    outline: none;
}
